<header class="header">
  <div class="logo">
    <img src="/logoInfotel.png" alt="Infotel Perú Logo" />
    <span>Infotel Perú</span>
  </div>
  <nav class="navigation">
    <a href="#">Inicio</a>
    <a href="#">Productos</a>
    <a href="#">Contacto</a>
    <a href="#" class="login">Inicio de Sesión</a>
    <a href="#" class="cart">🛒 Carrito</a>
  </nav>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

</header>

<router-outlet></router-outlet>

<section class="categories">
  <h2>Categorías</h2>
  <div class="category-list">
    <div class="category-item" (click)="scrollToSection('ropa')">Ropa</div>
    <div class="category-item" (click)="scrollToSection('accesorios')">Accesorios</div>
    <div class="category-item" (click)="scrollToSection('hogar')">Hogar</div>
    <div class="category-item" (click)="scrollToSection('servicios')">Servicios</div>

  </div>
</section>


<app-featured-products></app-featured-products>

<app-categories></app-categories>



<!-- Icono de chat -->
<app-chat-ia></app-chat-ia>

<footer class="footer">
  <div class="footer-content">
    <p>&copy; 2025 Infotel Perú. Todos los derechos reservados.</p>
    <div class="social-media">
      <a href="https://www.threads.net/@infotelbusiness.sac?xmt=AQGzAdgitncF-WO5CmByl8wolavTtqANhCjV15mXplgK6Tc" target="_blank" aria-label="Threads">
        <i class="fab fa-threads"></i> Threads
      </a>
      <a href="https://wa.me/message/KDWHYGZ7EZU7H1?src=qr" target="_blank" aria-label="WhatsApp">
        <i class="fab fa-whatsapp"></i> WhatsApp
      </a>
      <a href="https://www.tiktok.com/@infotel.business?is_from_webapp=1&sender_device=pc" target="_blank" aria-label="TikTok">
        <i class="fab fa-tiktok"></i> TikTok
      </a>
    </div>
  </div>
</footer>
