<section class="hero-banner">
  <div class="banner-content">
    <h1>Bienvenido a Infotel Perú</h1>
    <p class="intro-text">
      Infotel Business SAC es una empresa ubicada en Juliaca, dedicada a:
    </p>

    <ul class="company-activities">
      <li>Importación de maquinaria para el sector textil y tecnológico.</li>
      <li>Exportación de prendas de vestir a nivel nacional.</li>
      <li>Atención del mercado local con prendas de vestir, accesorios para el hogar y artesanías.</li>
    </ul>

    <p class="additional-info">
      También buscamos exportar artesanías locales.<br />
      Nos enfocamos en conectar tecnología con tradición.
    </p>

    <button [routerLink]="['/conoce-mas']">Conoce Más Sobre Nosotros</button>
  </div>
</section>
